.App{
  text-align: center;
  margin-left: auto;
  margin-left: auto;
  background-image: url(../assets/cloud-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
